body {
  font-size: 1.2em;
  font-family: 'Indie Flower', cursive;
  color: white;
  background-color: black;
}

div.tabs > a, div.tabs > button {
  margin-right: 10px;
  font-size: 1.2em;
}

div.tabs {
  margin-bottom: 10px;
}

.activeTab {
  font-weight: bold;
}

span[ui-sref]:hover {
  cursor: pointer;
  border: solid yellow 1px;
  color: yellow;
  padding-left: 5px;
  padding-right: 5px;
}
